services:
  redis:
    image: redis:7
    command: ["redis-server"]
  db:
    image: postgres:16
    env_file: /etc/nocodi/backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  migration:
    build: .
    container_name: django_migration
    env_file: /etc/nocodi/backend/.env
    command: python manage.py migrate

  backend:
    build: .
    container_name: django_backend
    env_file: /etc/nocodi/backend/.env
    expose:
      - "8000"
    volumes:
      - static_volume:/src/staticfiles
      - media_volume:/src/media

  nginx:
    image: nginx:1.27
    container_name: nginx_proxy
    ports:
      - "4001:80"
    depends_on:
      - backend
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - static_volume:/staticfiles:ro
      - media_volume:/media:ro

volumes:
  postgres_data:
  static_volume:
  media_volume:
